@import "tailwindcss";

@theme {
    --color-primary: #9D9D9D;
    --color-secondary: #B3B3B3;
    --color-third: #7F7F7F;
    --breakpoint-coxs: 23.4375rem;
    /* 375px */
    --breakpoint-sm: 36rem;
    /* 576px */
    --breakpoint-colg: 62rem;
    /* 992px */
    --breakpoint-lg: 65.625rem;
    /* 1050px */
    --breakpoint-coxl: 75rem;
    /* 1200px */
    --breakpoint-xl: 81.25rem;
    /* 1300px */
    --breakpoint-2xl: 87.5rem;
    /* 1400px */
}

body {
    font-family: "Plus Jakarta Sans", "Plus Jakarta Sans Placeholder", sans-serif;
}

.font-2 {
    font-family: "Satoshi", "Satoshi Placeholder", sans-serif;
}

.font-3 {
    font-family: "Inter", sans-serif;
}

#nav.open #line-1 {
    transform: rotate(45deg) translateY(5.5px);
}

#nav.open #line-2 {
    transform: rotate(-45deg) translateY(-6px);
}

#nav.open {
    height: 480px;
    transition: all 0.5s ease;
    align-items: start;
}

/* shooting stars animation */

/* shooting-star-1 */
.shooting-star-1 {
    animation: shooting-star-1 3s linear;
}

@keyframes shooting-star-1 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    61% {
        opacity: 0.5;
    }

    100% {
        transform: translatex(630px);
        opacity: 0;
    }
}

/* shooting-star-2 */
.shooting-star-2 {
    animation: shooting-star-2 3.5s linear;
}

@keyframes shooting-star-2 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    61% {
        opacity: 0.5;
    }

    100% {
        transform: translatex(630px);
        opacity: 0;
    }
}

/* shooting-star-3 */
.shooting-star-3 {
    animation: shooting-star-3 3.5s 1s linear;
}

@keyframes shooting-star-3 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    60% {
        opacity: 1;
    }

    61% {
        opacity: 0.5;
    }

    100% {
        transform: translatex(630px);
        opacity: 0;
    }
}

/* shooting-star-4 */
.shooting-star-4 {
    animation: shooting-star-4 5s 2s linear;
}

@keyframes shooting-star-4 {
    0% {
        transform: translateX(0);
        opacity: 0.5;
    }

    1% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        transform: translateX(700px);
        opacity: 0;
    }
}

/* shooting-star-5 */
.shooting-star-5 {
    animation: shooting-star-5 4s 5s linear;
}

@keyframes shooting-star-5 {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    90% {
        opacity: 0.5;
    }

    100% {
        transform: translateX(600px);
        opacity: 0;
    }
}

/* comments animattion  */

.comment-1 {
    animation: comment1 7s infinite linear;
}

@keyframes comment1 {
    0% {
        transform: translateY(-9%);
    }

    50% {
        transform: translateY(7%);
    }


    100% {
        transform: translateY(-9%);
    }
}

.comment-2 {
    animation: comment2 7s infinite linear;
}

@keyframes comment2 {
    0% {
        transform: translateY(9%);
    }

    50% {
        transform: translateY(-6%);
    }


    100% {
        transform: translateY(9%);
    }
}

/* arow jump animation  */

.arow-svg.upjump {
    animation: arow-jump-up 300ms linear;
}

.arow-svg.downjump {
    animation: arow-jump-down 300ms linear;
}

@keyframes arow-jump-up {
    0% {
        transform: translateX(0%);
    }

    60% {
        transform: translateX(100%);
    }

    61% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0%);
    }
}

@keyframes arow-jump-down {
    0% {
        transform: translateX(0%);
    }

    60% {
        transform: translateX(-100%);
    }

    61% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* bottom arrow  */

.bottom-arow {
    animation: ups-downs 2s infinite linear;
}

@keyframes ups-downs {
    0% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(40%);
    }

    100% {
        transform: translateY(-10%);
    }
}

/* available animation  */

.available {
    animation: available 0.5s 2s infinite linear;
}

@keyframes available {
    0% {
        width: 0px;
        height: 0px;
    }

    70%{
        opacity: 0.5;
    }

    100% {
        opacity: 0;
        width: 40px;
        height: 40px;
    }
}